body {
  font-family: "Sen", sans-serif;
  background-color: #d9f3f4;
}

h1 {
  text-align: center;
  text-shadow: 10px 10px 25px #465758;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

#calculator {
  width: 390px;
  height: 600px;
  border-radius: 70px;
  background: #d9f3f4;
  box-shadow: 46px 46px 92px #bdd3d4, -46px -46px 92px #f5ffff;
}

#result {
  height: 15%;
}

#history {
  text-align: right;
  height: 20px;
  margin: 0 40px;
  margin-bottom: 5px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}
#output {
  text-align: right;
  height: 60px;
  margin: 10px 40px;
  font-size: 30px;
}
#keyboard {
  height: 85%;
  margin: 10px;
}
.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 17px 17px 21px 21px;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
  border-radius: 169px;
  border: solid 0.1px #bebebebd;
  background: #ffffff;
  box-shadow: 10px 10px 30px #cde7e7, -10px -10px 30px #faffff;
}
.number,
.empty {
  background-color: #eef7f8;
}

.number,
.operator {
  cursor: pointer;
}
.operator:active,
.number:active {
  font-size: 13px;
}
.operator:focus,
.number:focus,
.empty:focus {
  outline: 0;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
}
button:nth-child(4) {
  font-size: 25px;

  background-color: #c8f0c4;
}
button:nth-child(8) {
  font-size: 25px;

  background-color: rgb(255, 220, 124);
}
button:nth-child(12) {
  font-size: 25px;

  background-color: #ffbcbc;
}
button:nth-child(16) {
  font-size: 25px;

  background-color: #beccff;
}

button:nth-child(20) {
  font-size: 25px;
  background-color: #d6beec;
}
